<div class="hidden">
  <svg>
    <symbol id="menu-burger" viewBox="0 0 32 21">
      <path d="M-0 21C-0 21-0 16.12-0 16.12-0 16.12 32 16.12 32 16.12 32 16.12 32 21 32 21 32 21-0 21-0 21ZM-0 8.06C-0 8.06 32 8.06 32 8.06 32 8.06 32 12.94 32 12.94 32 12.94-0 12.94-0 12.94-0 12.94-0 8.06-0 8.06ZM-0 0C-0 0 32 0 32 0 32 0 32 4.88 32 4.88 32 4.88-0 4.88-0 4.88-0 4.88-0 0-0 0Z" />
    </symbol>
    <symbol id="pin-alert" viewBox="0 0 34 34">
      <path d="M 29.96 23.54C 25.4 28.1 18.61 28.79 13.31 25.61 13.31 25.61 12.93 25.38 12.61 25.71 12.61 25.71 5.58 32.74 5.58 32.74 4.18 34.14 2.22 34.47 0.98 33.23 0.98 33.23 0.77 33.01 0.77 33.01-0.47 31.77-0.14 29.81 1.26 28.41 1.26 28.41 8.3 21.36 8.3 21.36 8.61 21.06 8.38 20.67 8.38 20.67 5.2 15.37 5.89 8.58 10.45 4.01 15.83-1.37 24.58-1.37 29.96 4.01 35.34 9.39 35.34 18.15 29.96 23.54ZM 27.9 6.08C 23.66 1.84 16.76 1.84 12.52 6.08 8.28 10.32 8.28 17.22 12.52 21.47 16.76 25.71 23.66 25.71 27.9 21.47 32.14 17.22 32.14 10.32 27.9 6.08ZM 26.23 12.39C 26.29 14.88 26.22 17.53 26.22 18.72 26.17 19.16 25.44 19.06 25.44 19.06 25.44 19.06 25.25 19.06 25.25 19.06 25.25 19.06 25.25 20.06 25.25 20.06 25.25 20.45 24.84 20.77 24.34 20.77 23.84 20.77 23.43 20.45 23.43 20.06 23.43 20.06 23.43 19.06 23.43 19.06 23.43 19.06 16.67 19.06 16.67 19.06 16.67 19.06 16.67 20.06 16.67 20.06 16.67 20.45 16.26 20.77 15.76 20.77 15.25 20.77 14.85 20.45 14.85 20.06 14.85 20.06 14.85 19.06 14.85 19.06 14.85 19.06 14.26 19.06 14.26 19.06 14.26 19.06 13.64 19.21 13.64 18.29 13.54 17.09 13.49 14.68 13.55 12.38 13.27 12.27 13.06 12 13.06 11.67 13.06 11.67 13.06 10.2 13.06 10.2 13.06 9.82 13.35 9.5 13.73 9.46 13.84 8.29 14.02 7.36 14.27 6.96 15.27 5.35 24.17 5.46 25.44 6.96 25.75 7.33 25.94 8.26 26.07 9.45 26.45 9.49 26.76 9.81 26.76 10.2 26.76 10.2 26.76 11.67 26.76 11.67 26.76 12.01 26.54 12.29 26.23 12.39ZM 23.23 17.88C 23.77 17.88 24.2 17.45 24.2 16.91 24.2 16.37 23.77 15.94 23.23 15.94 22.7 15.94 22.26 16.37 22.26 16.91 22.26 17.45 22.7 17.88 23.23 17.88ZM 16.54 17.88C 17.07 17.88 17.51 17.45 17.51 16.91 17.51 16.37 17.07 15.94 16.54 15.94 16 15.94 15.56 16.37 15.56 16.91 15.56 17.45 16 17.88 16.54 17.88ZM 24.47 9.89C 24.47 9 23.81 8.28 23.01 8.28 23.01 8.28 16.7 8.28 16.7 8.28 15.89 8.28 15.24 9 15.24 9.89 15.24 9.89 15.24 13.63 15.24 13.63 15.24 13.63 24.47 13.63 24.47 13.63 24.47 13.63 24.47 9.89 24.47 9.89Z" fill="rgb(28,223,221)" />
    </symbol>
    <symbol id="triangle" viewBox="0 0 23 12">
      <path d="M 11.48 12C 11.48 12-0.02-0.01-0.02-0.01-0.02-0.01 22.98-0.01 22.98-0.01 22.98-0.01 11.48 12 11.48 12Z" />
    </symbol>
  </svg>
</div>

<main class="bus2-main">
  <header class="bus2-header"></header>
  <section class="bus2-alert"></section>
  <div class="contribute-area-container"></div>
</main>