@import "fonts";

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

body {
  @include font("montserrat");
  font-size: 16px;
  color: $main-color;
  @include font-smoothing();
}
