.rounded-close-button {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  line-height: 37px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
