// // Mobile phones

// @media only screen and (min-width:768px) {
//   // Tablets
// }

// @media only screen and (min-width: 1024px) {
//   // Desktop
// }


.bus2-header {
  width: 100%;
  height: 60px;
  background: #fff;
  position: relative;
  z-index: 2;

  h1 {
    width: 50%;
    height: 100%;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
    @include font("montserrat-bold");
  }

  .bus2-menu-burger {
    width: 32px;
    height: 21px;
    @include align-vertically();
    position: absolute;
    left: 21px;
  }

  .bus2-search {
    width: 34px;
    height: 34px;
    @include align-vertically();
    position: absolute;
    right: 21px; 
  }

  .bus2-triangle {
    width: 23px;
    height: 12px;
    position: absolute;
    bottom: -8px;
    opacity: 0;
    @include transition(all .3s $ease-out-quart);
    @include transform(translateX(0));
  }

  svg.triangle {
    width: 23px;
    height: 12px;
    fill: #fff;
  }

  svg.search {
    width: 34px;
    height: 34px;
    fill: rgb(28,223,221);
  }

  svg.menu-burger {
    width: 32px;
    height: 21px;
    fill: #cacaca;
  }


  &.select-menu  {
    svg.menu-burger {
      fill: #49BDFF;
    }

    .bus2-triangle {
      opacity: 1;
      @include transition(all .3s $ease-out-quart);
      @include transform(translateX(23px));
    }
  }

  &.select-search {
    svg.search {
      fill: #49BDFF;
    }

    .bus2-triangle {
      opacity: 1;
      @include transition(all .3s $ease-out-quart);
      @include transform(translateX(327px));

    }
  }
}