main {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
}

section {
  width: 100%;
  position: relative;
  height: calc(100% - 120px);
  background-color: #cacaca;
  z-index: 2;
}



@media only screen and (min-width:375px) {
  main {
    width: 375px;
    height: 100%;
  }

  
}

// @media only screen and (min-width: 1024px) {
//   // Desktop
// }